html {height:100%}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

code {
  padding: .15em;
  border: 1px solid #888;
  border-radius: .2em;
  display: inline-block;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, .8);
}
fieldset {
  margin-inline-end: .6rem;
  margin-block-end: .35rem;
  padding-inline: .5em 1.25em;
  float: left;
}
main {
  width: 100%;
  max-width: 60rem;
}
.notice {
  margin-block: 1rem;
  border: 1px solid #6af;
  border-radius: .6rem;
  background-color: #cef;
}
.notice::before {
  --size: 1.4em;
  content: "!";
  margin: .4rem;
  border-radius: 9999px;
  width: var(--size);
  height: var(--size);
  float: left;
  text-align: center;
  line-height: var(--size);
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #70b6ef;
  mix-blend-mode: multiply;
}
ol, ul {
  padding-inline-start: 3.5ch;
}
pre>code {
  --code-green: #162;
  --code-orange: #841;
  display: block;
}
pre.c-dark>code {
  --code-green: #2d4;
  --code-orange: #f94;
  color: lightgray;
  background-color: #20252c;
}
pre>code .c-green {color:var(--code-green)}
pre>code .c-orange {color:var(--code-orange)}